<h4>The latest from some of my favorite sites</h4>

<hr />

<div id="rssPoliticalWire">
    <h5><a href="https://politicalwire.com" target="_blank">Taegan Goddard's Political Wire</a></h5>
    <script src="//rss.bloople.net/?url=https%3A%2F%2Fpoliticalwire.com%2Ffeed&detail=-1&limit=10&showtitle=false&type=js"></script>
    <div class="rssContent"></div>
</div>

<hr />

<div id="rssPolitico">
    <h5><a href="http://www.politico.com/" target="_blank">Politico</a></h5>
    <script src="//rss.bloople.net/?url=https%3A%2F%2Fwww.politico.com%2Frss%2Fpolitics08.xml&detail=-1&limit=10&showtitle=false&type=js"></script>
    <div class="rssContent"></div>
</div>

@*<script>
    var politicalWireRssUrl = "https://politicalwire.com/feed";
    var politicoRssUrl = "http://www.politico.com/rss/politics08.xml";

    $(function () {
        getRssFeed(politicalWireRssUrl, $("#rssPoliticalWire .rssContent"));
        getRssFeed(politicoRssUrl, $("#rssPolitico .rssContent"));
    });
</script>*@
