<h4>The latest from some of my favorite sites</h4>

<hr />

<div id="rssStackOverflow">
    <h5><a href="https://stackoverflow.com/" target="_blank">Stack Overflow</a></h5>
    <script src="//rss.bloople.net/?url=https%3A%2F%2Fstackoverflow.com%2Ffeeds&detail=-1&limit=10&showtitle=false&type=js"></script>
    <div class="rssContent"></div>
</div>

<hr />

<div id="rssCssTricks">
    <h5><a href="https://css-tricks.com/" target="_blank">CSS Tricks</a></h5>
    <script src="//rss.bloople.net/?url=https%3A%2F%2Fcss-tricks.com%2Ffeed&detail=-1&limit=10&showtitle=false&type=js"></script>
    <div class="rssContent"></div>
</div>

<hr />

<div id="rssMikesdotnetting">
    <h5><a href="https://www.mikesdotnetting.com/" target="_blank">Mikesdotnetting</a></h5>
    <div class="rssContent"></div>
</div>


@*<script>
        var stackOverflowRssUrl = "https://stackoverflow.com/feeds";
        var siteRssUrl = "http://www.xyz.com";

        $(function () {
            //getRssFeed(stackOverflowRssUrl, $("#rssStackOverflow .rssContent"));
            //getRssFeed(siteRssUrl, $("#rssSite .rssContent"));
        });
    </script>*@
