<h4>The latest from some of my favorite sites</h4>

<hr />

<div id="rss538">
    <h5><a href="https://fivethirtyeight.com/" target="_blank">Nate Silver's FiveThirtyEight</a></h5>
    <script src="//rss.bloople.net/?url=https%3A%2F%2Ffivethirtyeight.com%2Fall%2Ffeed&detail=-1&limit=10&showtitle=false&type=js"></script>
    <div class="rssContent"></div>
</div>

<hr />

<div id="rssBloggess">
    <h5><a href="http://thebloggess.com/" target="_blank">The Bloggess (Jenny Lawson)</a></h5>
    <script src="//rss.bloople.net/?url=https%3A%2F%2Fthebloggess.com%2Ffeed&detail=-1&limit=10&showtitle=false&type=js"></script>
    <div class="rssContent"></div>
</div>

@*<script>
    var rss538Url = "https://fivethirtyeight.com/all/feed";
    var bloggessRssUrl = "http://thebloggess.com/feed/";

    $(function () {
        getRssFeed(rss538Url, $("#rss538 .rssContent"));
        getRssFeed(bloggessRssUrl, $("#rssBloggess .rssContent"));
    });
</script>*@
