@{
    ViewData["Title"] = "About";
    Layout = "_Layout_Blog";
}

<h2>@ViewData["Title"]</h2>

<div>
    <a asp-area="" asp-controller="Home" asp-action="Index">Go to Bill Luckett home page</a>
</div>