<div class="col-xs-6 col-sm-3 xnav"><a asp-area="" asp-controller="Projects" asp-action="Index" class="blueLink">My Portfolio</a></div>
<div class="col-xs-6 col-sm-3 xnav"><a href="https://github.com/billluckett" target="_blank" class="blueLink">On GitHub</a></div>
<div class="col-xs-6 col-sm-3 xnav"><a asp-area="" asp-controller="Home" asp-action="Resume" class="blueLink">My Resume</a></div>
<div class="col-xs-6 col-sm-3 xnav"><a asp-area="" asp-controller="Home" asp-action="Contact" class="blueLink">Contact Me</a></div>
