@{
    ViewData["Title"] = "About";
}


<style>
    section {
        margin-top: 30px;
    }

    section img {
        border: 1px solid black;
        width: 80%;
        margin: 30px auto;
    }
</style>

<h3>The site has evolved ... thankfully</h3>

<section class="row">
    <div class="col-sm-12">
        <p>
            I've put everything I'm going to say about myself on the <a href="www.billluckett.com">Home</a> page.
            This page contains a look back at this website, which has served as my professional web development
            portfolio since 2014, although I've owned this domain name since two or three years before that.
        </p>
        <p>
            The fabulous <a href="https://archive.org/web/">Internet Archive Wayback Machine</a>
            can provide a handy look at the evolution of the site over the past few years.
        </p>
    </div>
</section>
<hr />
<section class="row">
    <div class="col-sm-12">
        <h5 class="sectionTitle">May 17, 2014: Recently finished my CS degree, no professional experience</h5>
        <p>
            This is ... wildly uninteresting.
        </p>
        <img class="img-responsive" src="~/images/wayback/billluckett20140517.png" />
    </div>
</section>
<section class="row">
    <div class="col-sm-12">
        <h5 class="sectionTitle">Aug. 1, 2015: Post-internship, pre-redesign after nine months working full-time</h5>
        <p>
            Slightly better. Menu positioned. Found a tagline I liked.
        </p>
        <img class="img-responsive" src="~/images/wayback/billluckett20150801.png" />
    </div>
</section>
<section class="row">
    <div class="col-sm-12">
        <h5 class="sectionTitle">Jan. 10, 2016: Redesign after working with ASP.NET MVC 5 for a year</h5>
        <p>
            Now we're talkin'. Still, could use some improvements. Lots of 'em, in fact.
        </p>
        <img class="img-responsive" src="~/images/wayback/billluckett20160110.png" />
    </div>
</section>
<section class="row">
    <div class="col-sm-12">
        <h5 class="sectionTitle">Jan. 6, 2017: Projects page</h5>
        <p>
            Using Bootstrap well classes. Because that was something we used at my old workplace.
            While I managed to grab screenshots of everything, some of which were years old,
            not all of these apps were exactly functional at this time. But hey, they were the
            sum total of my developer life's work, and I was a little bit proud of all of them.
            I was especially proud of the "Recipes App for Android" that I made for my cloud/mobile
            class at Oregon State. Proud of the concept, anyway. Not so much the execution. I
            had gotten ahold of a third-party voice-to-text widget that I later learned was known
            to be faulty.
        </p>
        <img class="img-responsive" src="~/images/wayback/billluckett20170106Projects.png" />
    </div>
</section>

