@{
    ViewData["Title"] = "Privacy Policy";
}
<h2>@ViewData["Title"]</h2>

<p>
    We will not share any of the information that this site collects with anyone.
</p>

<p>
    If this policy ever changes, we will not share any information this site had collected
    before the policy change, and we will conspicuously notify site users of the change on the
    <a asp-area="" asp-controller="Home" asp-action="Index">home page</a> of this site.
</p>
