<div id="siteFooter">
    <hr />
    <footer style="font-size:86%;text-align:center;padding:15px 15px 0px;">
        <p>Copyright &copy; 2014-@DateTime.Now.Year Luckett Adventures</p>
    </footer>
</div>
