
@{
    ViewData["Title"] = "Exception Catcher";
}

<h2>Oops! Something went wrong.</h2>

<p>Seems the web app threw an exception. Please notify the <a href="~/Home/Contact">webmaster</a>. Details:</p>
<p>@ViewData["Text"]</p>

